@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    color: white;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    background-color: rgb(14, 14, 27);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
}


.digital-clock {
    background-color: rgb(12, 12, 22);
    width: 500px;
    height: 250px;
    border-radius: 30px;
    border: 1px solid rgb(245, 245, 210);
    padding: 0 40px;
    box-shadow: 0 0 12px 2px rgb(9, 11, 16)
}


.timeFormat{
    /* background-color: red; */
    display: flex;
    justify-content: left;
    margin: 40px 0 0 0;
}

.timeFormat #changeFormat{
    color: rgb(255, 189, 66);
    padding: 5px 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgb(245, 245, 210);
}
.timeFormat #changeFormat:hover{
    background-color: rgb(22, 22, 22);
    cursor: pointer;
    transition: .1s;
}



.time {
    /* background-color: blue; */
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.hour, .dots, .minutes{
    font-size: 110px;
}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: pink; */
    height: 80px;
    font-weight: 600;
    margin-left: 20px;
}

.time-format{
    color: rgb(255, 189, 66);
}

.seconds{
    font-size: 20px;
    color: rgb(255, 189, 66);
}

.bottom-bar{
    width: 200px;
    height: 1px;
    background-color: rgb(245, 245, 210);
    border-radius: 8px;
}